.totalCategories {
  padding: 10px;

  &__category {
    color: #1976d2;
  }

  .totalCategories__list {
    background-color: rgb(92 92 92);
    padding: 0;
  }

  &__item {
    color: #fff;

    & + & {
      border-top: 1px solid #fff;
    }
  }

  &__text {
    & > span {
      display: flex;
      justify-content: space-between;

      span {
        margin-left: auto;
      }

      svg {
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }
}
