.totalExpenses {
  .totalExpenses__list {
    background-color: rgb(92 92 92);
    padding: 0;
    margin-top: 10px;
  }

  &__item {
    & + & {
      border-top: 1px solid #fff;
    }
  }

  &__text {
    color: #fff;
  }
}
