.categories {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  position: relative;

  &__list {
    flex-grow: 1;
    padding: 10px;
  }

  &__control {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #F4E7F7;
    padding: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      pointer-events: none;
      width: 100%;
      background: linear-gradient(to top, #F4E7F7, rgba(#F4E7F7, 0));
      transform: translateY(-100%);
      z-index: 5;
    }
  }

  &__text {
    flex-grow: 1;
    background-color: rgba(#fff, 0.5);
  }

  &__icon {
    margin-left: 20px;
    flex-shrink: 0;
    cursor: pointer;
    color: #1976d2;

    &--disable {
      color: #d32f2f;
    }
  }

  &__item {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #1976d2;
    background-color: rgba(#fff, 0.5);

    & + & {
      margin-top: 10px;
    }
  }
}
