.main {
  min-height: 100%;
  padding: 40px 10px 10px;
  display: flex;
  flex-direction: column;

  &__item {
    padding-top: 10px;
    text-decoration: none;
  }

  &__input {
    background-color: rgba(#fff, 0.5);
  }
}
