.total {
  min-height: 100%;
  padding: 10px;

  &__col {
    padding-top: 10px;
  }

  &__calendar {
    width: 100%;
  }

  .total__list {
    background-color: rgb(92 92 92);
    padding: 0;
  }

  &__item {
    color: #fff;

    & + & {
      border-top: 1px solid #fff;
    }
  }

  &__control {
    background-color: rgba(#fff, 0.5);
  }

  &__link {
    color: #fff;
    text-decoration: none;
    width: 100%;
  }
}
