html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #f4e7f7;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
